python-dotenv
langchain
langchain-openai
langchain-core
chromadb
langchain-huggingface
langchain-chroma
langchain-groq
sentence-transformers
langchain-embeddings
langchain-text-splitters
rank-bm25
openevals
langsmith
openai
ragas
langchain_google_genai